.footer {
    padding: 32px 0px;
    background-color: #344b8e;
    @media(max-width: 525px) {padding: 20px 0px;}

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 974px;
        width: 100%;
        @media(max-width: 881px) {justify-content: center;}
    }

    &__column {padding: 10px 15px 10px 15px;}

    &__link {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.68px;
        line-height: 29.91px;
        text-align: center;
        &.active {color: #30bae7;}
        @media(max-width: 525px) {font-size: 20px;}
    }
}