.get-in {
    text-align: center;
    padding: 114px 0px 120px 0px;
    background-color: #3c5499;

    &__header-block {
        margin-bottom: 73px;
        @media(max-width: 500px) {margin-bottom: 50px;}
        @media(min-width: 1180px) {&.animated {animation: 800ms get-inHeaderAnim;}}
    }
    &__title {margin-bottom: 19px;}
    &__subtitle {}

    &__form {
        max-width: 860px;
        width: 100%;
    }

    &__inputs-row {
        display: flex;
        @media(max-width: 700px) {flex-direction: column;}
    }

    &__input {
        display: inline-block;
        width: 100%;
        height: 56px;
        margin-bottom: 27px;
        background-color: #273a71;
        border-radius: 5px;
        @media(min-width: 1180px) {&.animated {animation: 800ms get-inHeaderAnim;}}
        &:first-child {margin-right: 16px;}
        &:last-child {margin-left: 16px;}
        @media(max-width: 700px) {
            &:first-child {margin-right: 0px;}
            &:last-child {margin-left: 0px;}
        }
        @media(max-width: 500px) {
            height: 45px;
            margin-bottom: 20px;
        }
    }

    &__textarea {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        background-color: #273a71;
        margin-bottom: 57px;
        @media(min-width: 1180px) {&.animated {animation: 800ms get-inHeaderAnim;}}
        @media(max-width: 500px) {
            height: 150px;
            margin-bottom: 50px;
        }
    }

    &__btn {
        @media(min-width: 1180px) {&.animated {animation: 800ms get-inHeaderAnim;}}
    }
}

@keyframes get-inHeaderAnim {
	0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}