.services {
    padding: 113px 0px 126px 0px;
    text-align: center;
    background-color: #17c2a4;

    &__header-block {}
    &__title {
        margin-bottom: 18px;
        @media(min-width: 1180px) {&.animated {animation: 900ms servicesTitleAnim;}}
    }
    &__subtitle {
        display:inline-block;
        max-width: 603px;
        margin-bottom: 76px;
        @media(min-width: 1180px) {&.animated {animation: 1000ms servicesSubtitleAnim;}}
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__column {
        display: flex;
        justify-content: center;
        padding: 0px 40px;
        &:nth-child(1), &:nth-child(2) {
            @media(min-width: 1180px) {&.animated {animation: 1000ms columnLeft;}}
        }
        &:nth-child(3), &:nth-child(4) {
            @media(min-width: 1180px) {&.animated {animation: 1000ms columnRight;}}
        }
        
        @media(max-width: 1179px) {
            flex: 0 0 33.333333%;
            margin-bottom: 80px;
        }
        @media(max-width: 887px) {flex: 0 0 50%;}
        @media(max-width: 611px) {flex: 0 0 100%;}

        &:nth-child(3) {
            margin-bottom: 0px;
            @media(max-width: 611px) {margin-bottom: 80px;}
        }
        &:last-child {margin: 0 auto;}
    }

    &__item {
        cursor: pointer;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.4s;
        transform: perspective(1000px);
        &:hover {transform: scale(1.2);}
    }

    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 159px;
        height: 134px;
        margin-bottom: 53px;
        & img {}
    }

    &__item-title {margin-bottom: 19px;}

    &__item-text {}

    &__flag {&.animated {animation: 2s flagAnim infinite; animation-delay: -1300ms;}}
    &__pencil {&.animated {animation: 2s pencilAnim infinite;}}
    &__big-gear {
        position: absolute;
        top: 3px;
        left: -2px;
    }
    &__small-gear {
        position: absolute;
        bottom: 5px;
        right: 2px;
    }
    &__rocket {
        position: absolute;
        &.animated {animation: 120ms rocketAnim infinite;}
    }
    &__rocket-fire {
        position: absolute;
        bottom: 0;
        left: 45px;
        &.animated {animation: 150ms fireAnim infinite;}
    }
}

@keyframes servicesTitleAnim {
    0% {
        transform: translateX(-1200px);
        opacity: 0;
    }
}

@keyframes servicesSubtitleAnim {
    0% {
        transform: translateX(1200px);
        opacity: 0;
    }
}

@keyframes columnLeft{
	0% {
		transform: translateX(-1500px);
		opacity: 0;
	}
}
@keyframes columnRight{
	0% {
		transform: translateX(1500px);
		opacity: 0;
	}
}

@keyframes flagAnim {
	0% {
		padding: 10px 50px 10px 0px;
		transform: rotateZ(-20deg);
	}

	50% {
		padding: 10px 0px 10px 50px;
		transform: rotateZ(20deg);
	}

	100% {
		padding: 10px 50px 10px 0px;
		transform: rotateZ(-20deg);
	}
}

@keyframes pencilAnim {
	0% {
		
	}

	10% {
		padding: 60px 10px 0px 0px;
	}

	15% {
		transform: rotateZ(-10deg);
	}

	20% {
		padding: 0px 0px 0px 20px;
		transform: rotateZ(-10deg);
	}

	25% {
		transform: rotateZ(-10deg);
	}

	30% {
		padding: 60px 0px 0px 20px;
		transform: rotateZ(-15deg);
	}

	35% {
		padding: 10px 0px 0px 40px;
		transform: rotateZ(-15deg);
	}

	40% {
		transform: rotateZ(-20deg);
	}

	45% {
	transform: rotateZ(-20deg);
	}

	50% {
		padding: 60px 0px 0px 40px;
		transform: rotateZ(-20deg);
	}

	55% {
		transform: rotateZ(-20deg);
	}

	60% {
		padding: 10px 0px 0px 60px;
		transform: rotateZ(-25deg);
	}
	
	90% {
		padding: 0px 0px 0px 0px;
		transform: rotateZ(0deg);
	}

	100% {
		
	}
}

//*=================================================================================

@keyframes big-gearRotateZ {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(10deg);
    }
    20% {
        transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(20deg);
    }
    40% {
        transform: rotateZ(25deg);
    }
    50% {
        transform: rotateZ(30deg);
    }
    60% {
        transform: rotateZ(35deg);
    }
    70% {
        transform: rotateZ(40deg);
    }
    80% {
        transform: rotateZ(45deg);
    }
    90% {
        transform: rotateZ(50deg);
    }
    100% {
        transform: rotateZ(55deg);
    }
}

@keyframes small-gearRotateZ {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-10deg);
    }
    20% {
        transform: rotateZ(-18deg);
    }
    30% {
        transform: rotateZ(-25deg);
    }
    40% {
        transform: rotateZ(-33deg);
    }
    50% {
        transform: rotateZ(-41deg);
    }
    60% {
        transform: rotateZ(-49deg);
    }
    70% {
        transform: rotateZ(-58deg);
    }
    80% {
        transform: rotateZ(-65deg);
    }
    90% {
        transform: rotateZ(-70deg);
    }
    100% {
        transform: rotateZ(-75deg);
    }
}

//==============================================

@keyframes big-gearRotateZBack {
    0% {
        transform: rotateZ(55deg);
    }
    10% {
        transform: rotateZ(50deg);
    }
    20% {
        transform: rotateZ(45deg);
    }
    30% {
        transform: rotateZ(40deg);
    }
    40% {
        transform: rotateZ(35deg);
    }
    50% {
        transform: rotateZ(30deg);
    }
    60% {
        transform: rotateZ(25deg);
    }
    70% {
        transform: rotateZ(20deg);
    }
    80% {
        transform: rotateZ(15deg);
    }
    90% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}	

@keyframes small-gearRotateZBack {
    0% {
        transform: rotateZ(-75deg);
    }
    10% {
        transform: rotateZ(-70deg);
    }
    20% {
        transform: rotateZ(-65deg);
    }
    30% {
        transform: rotateZ(-58deg);
    }
    40% {
        transform: rotateZ(-49deg);
    }
    50% {
        transform: rotateZ(-41deg);
    }
    60% {
        transform: rotateZ(-33deg);
    }
    70% {
        transform: rotateZ(-25deg);
    }
    80% {
        transform: rotateZ(-18deg);
    }
    90% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

//*===================================================================

@keyframes rocketAnim {
    0% {
        padding: 0px 0px 0px 4px;
    }
    
    40% {
        padding: 0px 0px 4px 0px;
    }
    
    80% {
        padding: 0px 4px 0px 0px;
    }
    
    100% {
        padding: 4px 0px 0px 0px;
    }
}

@keyframes fireAnim {
    0% {
        padding: 0px 0px 0px 5px;
        opacity: 0.8;
    }
    
    40% {
        padding: 0px 0px 5px 0px;	
        bottom: 0px;
        left: 45px;
        opacity: 0.6;
    }
    
    80% {
        padding: 0px 5px 0px 0px;
        opacity: 0.8;
    }
    
    100% {
        padding: 5px 0px 0px 0px;
        bottom: -5px;
        left: 40px;
    }
}
