.skills {
    text-align: center;
    padding: 113px 0px 123px 0px;

    &__header-block {}
    &__title {
        margin-bottom: 18px;
        @media(min-width: 1180px) {&.animated {animation: 800ms skillsTitleAnim;}}
    }
    &__subtitle {
        max-width: 569px;
        margin-bottom: 80px;
        @media(min-width: 1180px) {&.animated {animation: 800ms skillsSubtitleAnim;}}
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1120px;
        width: 100%;
    }
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 0 25%;
        padding: 0px 20px 0px 20px;
        @media(max-width: 1000px) {
            flex: 1 0 33.333333%;
            margin-bottom: 90px;
        }
        @media(max-width: 830px) {
            flex: 1 0 50%;
            &:nth-child(3) {margin-bottom: 0;}
        }
        @media(max-width: 610px) {
            flex: 1 0 100%;
            &:nth-child(3) {margin-bottom: 90px;}
        }
        &:last-child {margin-bottom: 0;}
    }
    &__item {
        &-title {
            color: #3c4761;
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            letter-spacing: 0.38px;
        }
    }

    &__progress-bar {
        position: relative;
        margin-bottom: 29px;
    }
    &__track {
        fill: none;
        stroke: lightgray;
        stroke-width: 13;
    }
    &__progress {
        fill: none;
        stroke: #30bae7;
        stroke-width: 13;
        transform: rotate(-90deg);
        transform-origin: center;
        &_2 {stroke: #d74680;}
        &_3 {stroke: #15c7a8;}
        &_4 {stroke: #eb7d4b;}
    }

    &__percent {
        font-size: 32px;
        letter-spacing: 0.55px;
        line-height: 0;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translateX(-44%);
        & span {
            letter-spacing: 0.86px;
            color: #3c4761;
            font-size: 50px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

@keyframes skillsTitleAnim {
    0% {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes skillsSubtitleAnim {
    0% {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
