.team {
    overflow: hidden;
    text-align: center;
    background-color: #e7f1f8;
    padding: 113.3px 0px 127px 0px;

    &__header-block {
        margin-bottom: 77px;
        @media(min-width: 1180px) {&.animated {animation: 1000ms teamHeaderAnim;}}
    }
    &__title {margin-bottom: 21px;}
    &__subtitle {}

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__column {
        display: flex;
        justify-content: center;
        padding: 0px 36px;
        @media(max-width: 1179px) {
            flex: 0 0 33.333333%;
            margin-bottom: 80px;
        }
        @media(max-width: 892px) {flex: 0 0 50%;}
        @media(max-width: 615px) {flex: 0 0 100%;}

        &:nth-child(3) {
            margin-bottom: 0px;
            @media(max-width: 615px) {margin-bottom: 80px;}
        }
        &:last-child {margin: 0 auto;}
    }

    &__item {
        max-width: 206px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #878787;
        margin-bottom: 36px;
        & img {}
        @media(min-width: 1180px) {&.animated {animation: 800ms secondBallAnim;}}

        &_ball {
            position: absolute;
            & img {
                height: 100%;
                width: 100%;
            }
            @media(min-width: 1180px) {&.animated {animation: 3000ms firstBallAnim linear;}}
        }
    }

    &__item-title {margin-bottom: 10px;}

    &__item-link {
        display: inline-block;
        color: #30bae7;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.32px;
        margin-bottom: 22px;
    }

    &__item-text {margin-bottom: 27px;}

    &__networks {}

    &__links {display: flex;}

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #bdd1df;
        margin: 0px 6px;
    }
}

@keyframes teamHeaderAnim {
	0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes firstBallAnim{
	0% {
        transform:  translate(1400px,-500px)  rotate(0deg);
    }
    12% {
        transform:  translate(960px,0px)  rotate(-70deg)scaleX(1.00) scaleY(1.00);
    }
    13% {
        transform:  translate(920px,40px)  rotate(-90deg) scaleX(0.60) scaleY(1.20) ;
    }
    17% {
        transform:  translate(800px,-56px)  rotate(-120deg) scaleX(1.00) scaleY(1.00);
    }
    19% {
        transform:  translate(740px,-94px)  rotate(-135deg);
    }
    21% {
        transform:  translate(680px,-114px)  rotate(-150deg);
    }
    23% {
        transform:  translate(620px,-128px)  rotate(-165deg);
    }
    25% {
        transform:  translate(560px,-126px)  rotate(-180deg);
    }
    32% {
        transform:  translate(340px,-60px)  rotate(-240deg) scaleX(1.00) scaleY(1.00);
    }
    34% {
        transform:  translate(280px,0px)  rotate(-270deg) scaleX(0.85) scaleY(1.15);
    }
    37% {
        transform:  translate(220px,-38px)  rotate(-290deg);
    }
    39% {
        transform:  translate(160px,-64px)  rotate(-300deg);
    }
    41% {
        transform:  translate(110px,-70px)  rotate(-310deg);
    }
    43% {
        transform:  translate(60px,-60px)  rotate(-320deg);
    }
    45% {
        transform:  translate(10px,-40px)  rotate(-330deg);
    }
    47% {
        transform:  translate(-40px,-20px)  rotate(-340deg);
    }
    49% {
        transform:  translate(-75px,0px)  rotate(-350deg) scaleX(1.00) scaleY(1.00);
    }
    51% {
        transform:  translate(-110px,0px)  rotate(-360deg) scaleX(0.95) scaleY(1.07);
    }
    54% {
        transform:  translate(-40px,0px)  rotate(-340deg);
    }
    56% {
        transform:  translate(-10px,0px)  rotate(-330deg);
    }
    58% {
        transform:  translate(15px,0px)  rotate(-320deg);
    }
    68% {
        transform:  translate(145px,0px)  rotate(-275deg)scaleX(1.0) scaleY(1.0);
    }
    69% {
        transform:  translate(150px,0px)  rotate(-280deg)scaleX(1.30) scaleY(0.70);
    }
    70% {
        transform:  translate(80px,0px)  rotate(-330deg)scaleX(1.0) scaleY(1.0);
    }
    100% {
        transform:  translate(-2500px,-500px)  rotate(-960deg);
    }
}

@keyframes secondBallAnim {
	0% {
		transform:  translate(2000px, 0px)  rotate(0deg);
	}

	100% {
		transform:  translate(0px, 0px)  rotate(-720deg);
	}
}