.work-with-us {
    padding: 114px 0px 149px 0px;
    background-color: #87509c;
    text-align: center;
    @media(max-width: 900px) {padding: 13% 0px 140px 0px;}
    @media(max-width: 485px) {padding: 13% 0px 100px 0px;}

    &__title {
        color: #f7f3ea;
        font-size: 42px;
        font-weight: 700;
        line-height: 49.82px;
        margin-bottom: 54px;
        @media(min-width: 1180px) {&.animated {animation: 1300ms textanim;}}
        @media(max-width: 1170px) {font-size: calc(22px + 20 * (100vw / 1170));}
        & span {
            display: block;
            @media(max-width: 845px) {display: inline;}
        }
    }
    
    &__btn {
        @media(min-width: 1180px) {&.animated {animation: 1300ms buttonanim;}}
    }
}

@keyframes textanim{
    0% {transform: translateX(-1200px);}

    30% {
        transform: translateX(-1200px);
        opacity: 0;
    }
}

@keyframes buttonanim{
    0% {transform: translateX(900px);}

    30% {
        transform: translateX(900px);
        opacity: 0;
    }
}